body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://wallpaperset.com/w/full/1/f/5/34578.jpg");
}

.sidebar {
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.user-info {
  text-align: center;
  padding: 20px 0;
}

h1 {
  color: #fff;
}

h2 {
  color: #fff;
  font-size: 50px;
}

.user-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.sidebar-menu a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0.3s;
}

ul li:hover {
  background-color: #555;
}

.content {
  margin-left: 250px;
  padding: 20px;
}

.albums {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.albums img {
  width: 300px;
  height: 300px;
  border: 6px solid #333;
  border-radius: 50%;
}

.form-container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 400px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="url"] {
  width: 500px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  margin-bottom: 30px;
}

.button-group {
  text-align: center;
}

.edit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

.cancel-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.edit-album {
  margin-top: 80px;
}
